@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200&display=swap");
/* //////////////////////////////////////////////////

MAIN SECTION
HEADER & FOOTER

////////////////////////////////////////////////// */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.snowWoke {
  font-family: 'Poppins';
  color: #1e3a5c;
  background: #f8f8f8;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
}

.header {
  width: 100%;
  height: 60px;
  background: white;
  -webkit-box-shadow: 0px 0px 3px #cccccc;
          box-shadow: 0px 0px 3px #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
}

.headerTitle {
  font-weight: 400;
  font-size: 1.1rem;
}

.main {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 120px);
  margin: 0 0 160px 0;
}

.footer {
  width: 100%;
  height: 60px;
  background: white;
  -webkit-box-shadow: 0px 0px 3px #cccccc;
          box-shadow: 0px 0px 3px #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  position: fixed;
}

.fas {
  font-size: 1.5rem;
  line-height: 60px;
  text-align: center;
  color: #44799c;
  width: 100%;
  cursor: pointer;
}

.searchButton {
  margin-left: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.settingsButton {
  margin-right: 30px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

/* //////////////////////////////////////////////////

RESORTS SECTION

////////////////////////////////////////////////// */
.resortList {
  height: 100%;
  overflow-y: scroll;
}

.hidden {
  display: none;
}

.resort {
  word-wrap: break-word;
  margin: 30px 10px;
  padding: 20px 10px;
  background: #dcecfa;
  -webkit-box-shadow: 0px 3px 10px #ddd;
          box-shadow: 0px 3px 10px #ddd;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
  position: relative;
}

.resort:hover {
  background-color: #e7ecef;
}

.add {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 2rem;
  background-color: #44799c;
  color: white;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: 150ms;
  transition: 150ms;
  position: fixed;
  bottom: 80px;
  right: 20px;
}

.add:hover {
  background-color: #1e3a5c;
}

.remove {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.addResort {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e7ecef;
  font-size: 1.3rem;
  height: 100%;
  overflow-y: scroll;
}

.resortSearchBox {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px;
  font-size: 1.2rem;
  border: 2px solid #1E3A5C;
  border-radius: 5px;
  position: fixed;
}

.searchResults {
  margin: 70px auto;
  width: calc(100% - 20px);
}

.searchResults p {
  margin-bottom: 5px;
  padding: 5px;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.searchResults p:hover {
  background: #dcecfa;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.searchResults p:active {
  background: lightgreen;
  -webkit-transition: 0ms;
  transition: 0ms;
}

.resortInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  cursor: default;
}

h2 {
  font-weight: 200;
  background: #ccc;
  width: 100vw;
  text-align: center;
}

.viewMap {
  cursor: pointer;
}

/* //////////////////////////////////////////////////

MAP SECTION

////////////////////////////////////////////////// */
.map h1 {
  margin-top: 60px;
}

.mapImage {
  height: calc( 100% - 60px);
}

.mapImage img {
  margin-top: 60px;
  width: 100vw;
  -webkit-box-shadow: 0px 0px 20px #999;
          box-shadow: 0px 0px 20px #999;
}

.changeMap {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 2rem;
  background-color: #44799c;
  color: white;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: 150ms;
  transition: 150ms;
  position: fixed;
  bottom: 80px;
  right: 20px;
}

.changeMap:hover {
  background-color: #1e3a5c;
}

.mapList {
  width: 100%;
  background: #e7ecef;
  padding: 10px 10px 80px 10px;
  position: absolute;
  bottom: 0;
  font-size: 1.2rem;
  max-height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 0px 8px 20px #444;
          box-shadow: 0px 8px 20px #444;
  overflow-y: scroll;
}

.mapList p {
  margin-bottom: 10px;
  padding: 5px;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.mapList p:hover {
  background: #dcecfa;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.mapList p:active {
  background: lightgreen;
  -webkit-transition: 0ms;
  transition: 0ms;
}
/*# sourceMappingURL=style.css.map */